---
layout: default
title: My list of secure messaging apps
---
My list of secure messaging apps.  Below are applications that offer end to end encryption.<br>
<br>
Corrections and additions are welcome, either by an Issue ticket or a Pull Request on the <a href="https://github.com/Perelandra0x309/secure-im">github project page</a>.<br>
<br>
<h2>My current top picks:</h2><br>
Criteria:
<ul>
<li>This list is focused on instant messaging and chatting as the primary usage of the app</li>
<li>Open source</li>
<li>Multiple platforms preferred</li>
</ul>
SMS:
<ul>
<li>{% include generate_app_link.html app_name="signal" %}<br>
OK let's get this one out of the way first.  If you have a phone, there's almost no way to get away from SMS.  So the best thing you can do is protect your SMS messages at rest with encryption.  Signal also offers excellent end to end encryption between Signal users.  One draw back of Signal is that everyone you connect with will know your phone number.  For people you are comfortable knowing your phone number that is fine, but for those you don't want to give out your number to...<br>
</li>
</ul>
<br>
Messaging apps to use without giving out your phone number:
<ul>
  <li>Federated or Centralized:</li>
  <ul>
    <li>{% include generate_app_link.html app_name="threema" %} (partially open source)</li>
    <li>{% include generate_app_link.html app_name="xmpp" %}</li>
    <li>{% include generate_app_link.html app_name="keybase" %}</li>
    <li>{% include generate_app_link.html app_name="riot" %} (E2EE still in beta)</li>
  </ul>
  
  <li>P2P:</li>
  <ul>
    <li>{% include generate_app_link.html app_name="ricochet" %} (desktop only)</li>
    <li>{% include generate_app_link.html app_name="tox" %} (I had some usability issues and crashing with some clients)</li>
  </ul>
</ul>
<br>
If you're not so strict about being open source try:
<ul>
  <li>{% include generate_app_link.html app_name="safeswiss" %}- P2P, not open source but based in Switzerland</li>
  <li>{% include generate_app_link.html app_name="twinme" %}- P2P, not open source, based in France</li>
  <li>{% include generate_app_link.html app_name="eleet" %}- I am really liking this one, unfortunately not open source and based in the UK</li>
</ul>
<br>
<h2>How about some rankings?</h2><br>
The following scoring table includes messaging apps that can be used across multiple platforms that synchronize conversations to all devices:<br>
<table>
<tr>
  <th>Application</th>
  <th width="11%">Additional sharing features- files, photos, etc</th>
  <th width="11%">Group chats</th>
  <th width="11%">Unified UI across platforms</th>
  <th width="11%">Messages sync to all devices</th>
  <th width="11%">Open source</th>
  <th width="11%">Perfect forward secrecy</th>
  <th width="11%">Based outside the <a href="https://www.privacytools.io/#ukusa">5 eyes</a>: +.5<br>
    Based outside the 14 eyes: +.5</th>
  <th width="11%">Total score:</th>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="riot" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>0 (UK)</td><td>6</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="wickrme" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>.5</td><td>1</td><td>0 (USA)</td><td>5.5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="keybase" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>0 (USA)</td><td>5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="eleet" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>1</td><td>0 (UK)</td><td>5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="vipole" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>1</td><td>0 (UK)</td><td>5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="xmpp" %}</td>
  <td>.5 (depends on client)</td><td>.5 (depends on client)</td><td>0</td><td>.5 (depends on client)</td><td>1</td><td>1</td><td>1 (if you choose the right server)</td><td>4.5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="sid" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>?</td><td>.5 (Germany)</td><td>4.5</td>
</tr>

</table>

The following scoring table includes messaging apps used on a single device:<br>
<table>
<tr>
  <th>Application</th>
  <th width="11%">Additional sharing features- files, photos, etc</th>
  <th width="11%">Group chats</th>
  <th width="11%">Open source</th>
  <th width="11%">Perfect forward secrecy</th>
  <th width="11%">Based outside the <a href="https://www.privacytools.io/#ukusa">5 eyes</a>: +.5<br>
    Based outside the 14 eyes: +.5</th>
  <th width="11%">Total score:</th>
</tr>
<tr>
  <td><a href="#xmpp">ChatSecure/Conversations</a></td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>1 (if you choose the right server)</td><td>5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="tox" %}</td>
  <td>1</td><td>.5 (depends on client)</td><td>1</td><td>1</td><td>1 (No central servers)</td><td>4.5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="riot" %}</td>
  <td>1</td><td>1</td><td>1</td><td>1</td><td>0 (UK)</td><td>4</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="threema" %}</td>
  <td>1</td><td>1</td><td>.5</td><td>.5 (only on the network layer)</td><td>1 (Switzerland)</td><td>4</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="safeswiss" %}</td>
  <td>1</td><td>1</td><td>0</td><td>1</td><td>1 (Switzerland)</td><td>4</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="wickrme" %}</td>
  <td>1</td><td>1</td><td>.5</td><td>1</td><td>0 (USA)</td><td>3.5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="keybase" %}</td>
  <td>1</td><td>1</td><td>1</td><td>0</td><td>0 (USA)</td><td>3</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="eleet" %}</td>
  <td>1</td><td>1</td><td>0</td><td>1</td><td>0 (UK)</td><td>3</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="ricochet" %}</td>
  <td>0</td><td>0</td><td>1</td><td>1</td><td>1 (No central servers)</td><td>3</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="twinme" %}</td>
  <td>1</td><td>0</td><td>0</td><td>1</td><td>.5 (Germany)</td><td>2.5</td>
</tr>
<tr>
  <td>{% include generate_app_link.html app_name="ring" %}</td>
  <td>0</td><td>0</td><td>1</td><td>?</td><td>1 (No central servers)</td><td>2</td>
</tr>

</table>

<p>Apps that are not E2EE:</p>
<ul>
  <li>Facebook Messenger</li>
  <li>Google Hangouts, Allo, Duo</li>
  <li>Yahoo Messenger, AIM, ICQ</li>
  <li>Skype</li>
  <li>Trello</li>
  <li>Blackberry Messenger</li>
</ul>
<br>
<p>Apps not recommended for other reasons:</p>
<ul>
  <li>Facetime, iMessage- iOS only, closed source, data saved on Apple servers</li>
  <li>WhatsApp- <a href="https://www.eff.org/deeplinks/2016/10/where-whatsapp-went-wrong-effs-four-biggest-security-concerns">EFF's concerns</a>:<br>
    -Unencrypted backups at rest<br>
    -Data sharing with Facebook
  </li>
  <li>Semaphor- targeted for business, monthly subscription</li>
  <li><a href="https://www.chatgrape.com/open-source">Grape</a>-  Another team/work oriented messaging tool, all platforms except Linux, monthly subscription</li>
  <li>Slack- team/work oriented</li>
  <li>Mumble- Voice chat for gaming. You can send text and links but that is not its primary intent.</li>
  <li>Jitsi- video conferencing</li>
  <li>Bubcon- <a href="https://bubcon.com/datenschutz-app/?lang=en">Phone# required, collects your contacts info</a><br>
   -Android only (Oct 2017), single device only<br>
   -Messages stored decrypted at rest
  </li>
  <li>Line (https://line.me) No information about security on website, does not seem to be a focus at all although there are articles online claiming they are E2EE.</li>
  <li>WeChat (http://www.wechat.com) No information about security on website, requires a phone number to register.</li>
  <li>Kullo (https://www.kullo.net) Essentially just an encrypted email system, not really chat.</li>
  <li>Chiffry (https://www.chiffry.de) Data not encrypted at rest but that feature is on the roadmap (https://www.chiffry.de/en/versionen)</li>
  <li>Bleep (bleep.im)- a client that used the bittorrent system for messaging, no longer in development.  I was not able to add a contact when I tried it.</li>
  <li>Connect.im- No recent development since March 2017, seems like a scam trying to get people's bitcoin addresses and keys.</li>
</ul>
<br>
<p>To investigate:</p>
<ul>
<li>https://bitchat.im- Windows and Ubuntu</li>
<li>Disa- http://disa.im/index.html</li>
<li>FireChat https://www.opengarden.com/firechat.html</li>
<li>OnionShare</li>
<li>Brabbler Ginlo https://www.ginlo.net/en- in beta</li>
</ul>
