---
layout: default
title: My list of secure messaging apps
---
My list of secure messaging apps.  Below are applications that offer end to end encryption.<br>
<br>
Corrections and additions are welcome, either by an Issue ticket or a Pull Request on the <a href="https://github.com/Perelandra0x309/secure-im">github project page</a>.<br>
<br>
<h2>My current top picks:</h2><br>
Criteria:
<ul>
  <li>This list is focused on instant messaging and chatting as the primary usage of the app</li>
  <li>Open source</li>
  <li>Multiple platforms preferred</li>
  <li>Does not expose your phone number or email address to other users</li>
  <li>Testing done on both Android and iOS when possible.  See my <a href="#testing">testing setup</a></li>
</ul>
SMS:
<ul>
  <li>{% include generate_app_link.html app_name="signal" %}<br>
    OK let's get this one out of the way first.  If you have a phone, there's almost no way to get away from SMS.  So the best thing you can do is protect your SMS messages at rest with encryption.  Signal also offers excellent end to end encryption between Signal users.  One draw back of Signal is that everyone you connect with will know your phone number, but for people you are comfortable knowing your phone number that is fine.<br>
  </li>
  <li>Runner up: {% include generate_app_link.html app_name="silence" %}<br>
    If you don't want to use Signal as a messaging app then I recommend getting Silence just for SMS messages.  It will locally encrypt the SMS database on your phone.  You can also send encrypted SMS messages to other Silence users.  Since Silence only uses SMS it is not dependent on any servers like Signal is.
</ul>
<br>
Messaging apps to use without giving out your phone number:
<ul>
  <li>Federated or Centralized:</li>
  <ul>
    <li>{% include generate_app_link.html app_name="threema" %} (partially open source)</li>
    <li>{% include generate_app_link.html app_name="wire" %} (beware of possible high battery usage on Android)</li>
    <li>{% include generate_app_link.html app_name="keybase" %} (partially open source)</li>
    <li>{% include generate_app_link.html app_name="riot" %} (E2EE still in beta)</li>
  </ul>

  <li>P2P:</li>
  <ul>
    <li>{% include generate_app_link.html app_name="briar" %} (Android only)</li>
    <li>{% include generate_app_link.html app_name="ricochet" %} (desktop only)</li>
  </ul>
</ul>
<br>
If you're not so strict about being open source try:
<ul>
  <li>{% include generate_app_link.html app_name="safeswiss" %}- P2P, not open source but based in Switzerland</li>
  <li>{% include generate_app_link.html app_name="twinme" %}- P2P, not open source, based in Germany</li>
  <li>{% include generate_app_link.html app_name="wickrme" %}- Only crypto protocol is open source, based in USA, all messages expire</li>
  <li>{% include generate_app_link.html app_name="eleet" %}- I am really liking this one, unfortunately not open source and based in the UK</li>
  <li>{% include generate_app_link.html app_name="tungsten" %}- New app still in beta but this shows lots of promise.  Uses the TOR network for anonymous profiles, synchronizes across multiple devices, multiple personas, based in Germany.</li>
</ul>
<br>
<h2>How about some rankings?</h2><br>
The following scoring table includes messaging apps that can be used across multiple platforms that synchronize conversations to all devices:<br>
<table>
  <tr>
    <th>Application</th>
    <th width="11%">Additional sharing features- files, photos, etc</th>
    <th width="11%">Group chats</th>
    <th width="11%">Unified UI across platforms</th>
    <th width="11%">Messages sync to all devices</th>
    <th width="11%">Open source</th>
    <th width="11%">Perfect forward secrecy</th>
    <th width="11%">Based outside the <a href="https://www.privacytools.io/#ukusa">5 eyes</a>: +.5<br>
      Based outside the 14 eyes: +.5</th>
    <th width="11%">Total score:</th>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="wire" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1 (Switzerland)</td><td>7</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="riot" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>0 (UK)</td><td>6</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="tungsten" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>1</td><td>.5 (Germany)</td><td>5.5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="wickrme" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>.5</td><td>1</td><td>0 (USA)</td><td>5.5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="keybase" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>0 (USA)</td><td>5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="eleet" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>0</td><td>1</td><td>0 (UK)</td><td>5</td>
  </tr>

</table>

The following scoring table includes messaging apps used on a single device:<br>
<table>
  <tr>
    <th>Application</th>
    <th width="11%">Additional sharing features- files, photos, etc</th>
    <th width="11%">Group chats</th>
    <th width="11%">Open source</th>
    <th width="11%">Perfect forward secrecy</th>
    <th width="11%">Based outside the <a href="https://www.privacytools.io/#ukusa">5 eyes</a>: +.5<br>
      Based outside the 14 eyes: +.5</th>
    <th width="11%">Total score:</th>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="wire" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>1 (Switzerland)</td><td>5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="threema" %}</td>
    <td>1</td><td>1</td><td>.5</td><td>.5 (only on the network layer)</td><td>1 (Switzerland)</td><td>4</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="briar" %}</td>
    <td>0</td><td>1</td><td>1</td><td>1</td><td>1</td><td>4</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="riot" %}</td>
    <td>1</td><td>1</td><td>1</td><td>1</td><td>0 (UK)</td><td>4</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="safeswiss" %}</td>
    <td>1</td><td>1</td><td>0</td><td>1</td><td>1 (Switzerland)</td><td>4</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="wickrme" %}</td>
    <td>1</td><td>1</td><td>.5</td><td>1</td><td>0 (USA)</td><td>3.5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="tungsten" %}</td>
    <td>1</td><td>1</td><td>0</td><td>1</td><td>.5 (Germany)</td><td>3.5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="keybase" %}</td>
    <td>1</td><td>1</td><td>1</td><td>0</td><td>0 (USA)</td><td>3</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="eleet" %}</td>
    <td>1</td><td>1</td><td>0</td><td>1</td><td>0 (UK)</td><td>3</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="ricochet" %}</td>
    <td>0</td><td>0</td><td>1</td><td>1</td><td>1 (No central servers)</td><td>3</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="twinme" %}</td>
    <td>1</td><td>0</td><td>0</td><td>1</td><td>.5 (Germany)</td><td>2.5</td>
  </tr>
  <tr>
    <td>{% include generate_app_link.html app_name="ring" %}</td>
    <td>0</td><td>0</td><td>1</td><td>?</td><td>1 (No central servers)</td><td>2</td>
  </tr>

</table>

<p>Apps that are not E2EE:</p>
<ul>
  {% assign applications = site.data.applications | where_exp: "item","item.category == 10" | sort: 'name' %}
  {% for application in applications %}
  <li><a name="{{ application.name }}"></a>{{ application.display_name }}</li>
  {% endfor %}
</ul>
<br>
<p>Apps not recommended for other reasons:</p>
<ul>
  {% assign applications = site.data.applications | where_exp: "item","item.category == 11" | sort: 'name' %}
  {% for application in applications %}
  <li><a name="{{ application.name }}"></a>{{ application.display_name }}- {{ application.notes_text }}
    {% endfor %}
</ul>
<br>
<p>To investigate:</p>
<li>Any apps that I wish to investigate are now entered as an <a target="_blank" href="https://github.com/Perelandra0x309/secure-im/issues">issue ticket here</a>.</li><br>
<br>
<a name="testing"></a>
<p>My testing setup:</p>
I test on both iOS and Android, when the apps are available for those platforms.  Keep in mind that even though you may be using iOS, the other person you are communicating with may be using Android or a web client or a desktop client.  iOS is generally more secure than Android, simply because the application data is very well segregated at the OS level, so that apps cannot access the data of other apps.  However this is not the case with Android, each application written for Android must ensure it does not save any data to globally accessible local storage.  So when I test apps I scrutinize the Android version very closely to looks for any data leakage. So even if an iOS version of an app does not leak data, if the Android version does I consider the entire app platform compromised.<br>
My test devices:
<ul>
  <li>Samsung Galaxy S5 with Android 6.0.1</li>
  <li>LG L22C with Android 5.0.1</li>
  <li>iPhone 5S with iOS 11.4</li>
</ul>
For apps that require a phone number I use two VOIP numbers that have SMS capability.  One is through the MySudo app on iOS, and the other is through <a target="_blank" href="https://jmp.chat">JMP.chat</a>.  These are only available is the US/Canada.<br>
<br>
