<hr>
Other similar resources:<br>
<a href="https://www.privacytools.io/#im">privacytools.io</a><br>
<a href="https://prism-break.org">Prism Break</a><br>
<a href="https://ssd.eff.org/en/module/communicating-others">EFF- Communication with Others</a> (Also <a href="https://www.eff.org/secure-messaging-scorecard">EFF messaging scorecard</a> is out of date but still useful)<br>
<a href="https://ssd.eff.org">EFF Surveillence Self-Defense</a><br>
<a href="https://www.securemessagingapps.com">Secure Messaging Apps Comparison</a><br>
<a href="https://hackernoon.com/encrypted-instant-messaging-recommendations-january-2017-711c03af02cc">Marcel Ackermann's recommendations</a><br>
<a href="https://en.wikipedia.org/wiki/Comparison_of_instant_messaging_clients#Messengers_with_client-to-client_encryption">Wikipedia- Comparison of IM Clients</a><br>
<br>
Track changes to this website using <a href="https://github.com/perelandra0x309/secure-im/commits/master.atom">this Atom feed</a>.
