<!-- <a href="{{ site.github.repository_url }}">View On GitHub</a> -->
<div id="title">
  <h1>{{ site.name }}</h1>
  <p>{{ site.description }}</p>
  
Table of Contents:<br>
<table>
<tr><td>
<ul>
  {% capture htmllink %}{% link index.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Home</a></li>
  {% capture htmllink %}{% link _pages/app_list.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">List of Applications</a></li>
  {% capture htmllink %}{% link _pages/effguide.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">EFF Guide to Choosing a Messenger</a></li>
  {% capture htmllink %}{% link _pages/featuresmatrix.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Features Matrix</a></li>
  {% capture htmllink %}{% link _pages/notrackers.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">No Trackers Hall of Fame!</a></li>
</ul></td>
<td><ul>
  {% capture htmllink %}{% link p2popen.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">P2P Open Source Applications</a></li>
  {% capture htmllink %}{% link p2ppartialopen.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">P2P Partial Open Source Applications</a></li>
  {% capture htmllink %}{% link p2pclosed.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">P2P Closed Source Applications</a></li>
  {% capture htmllink %}{% link otheropen.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Other Open Source Applications</a></li>
  {% capture htmllink %}{% link otherpartialopen.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Other Partial Open Source Applications</a></li>
  {% capture htmllink %}{% link otherclosed.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Other Closed Source Applications</a></li>
  {% capture htmllink %}{% link protocols.md %}{% endcapture %}
  <li class="{% if htmllink == page.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ htmllink }}">Messaging Protocols</a></li>
</ul></td>
</table>
  <hr>
  <span class="credits left">Project maintained by <a href="https://github.com/Perelandra0x309">Perelandra0x309</a></span>
  <span class="credits right">Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
<br>
<h2 style="text-align:center;">{{ page.title }}</h2>
</div>
