<a href="{{ site.github.repository_url }}">View On GitHub</a>
<div id="title">
  <h1>{{ site.title | default: site.github.repository_name }}</h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  <hr>
  <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
  <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
</div>
Table of Contents:<br>
<ul>
  {% capture htmllink %}{{ site.baseurl }}{% link p2popen.md %}{% endcapture %}
  {% comment %}
  <li class="{% if {{ htmllink }} == page.url %}active{% endif %}"><a href="{{ htmllink }}">P2P Open Source</a></li>
  {% capture htmllink %}{{ site.baseurl }}{% link p2pclosed.md %}{% endcapture %}
  <li class="{% if {{ htmllink }} == page.url %}active{% endif %}"><a href="{{ htmllink }}">P2P Closed Source</a></li>
  {% capture htmllink %}{{ site.baseurl }}{% link otheropen.md %}{% endcapture %}
  <li class="{% if {{ htmllink }} == page.url %}active{% endif %}"><a href="{{ htmllink }}">Other Open Source</a></li>
  {% capture htmllink %}{{ site.baseurl }}{% link otherclosed.md %}{% endcapture %}
  <li class="{% if {{ htmllink }} == page.url %}active{% endif %}"><a href="{{ htmllink }}">Other Closed Source</a></li>
  {% endcomment %}
</ul>
