  <div class="w3-bar w3-black w3-card">
 
  	
  	<div class="w3-dropdown-hover">
      <button class="w3-padding-large w3-button"><a href="{{ site.url }}" >{{ site.title }}</a> &#x25BC;</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% link about.md %}" class="w3-bar-item w3-button">About This Website</a>
        <a href="{% link otherwebsites.md %}" class="w3-bar-item w3-button">Other Websites and Resources</a>
      </div>
    </div>
     

    <div class="w3-dropdown-hover">
      <button class="w3-padding-large w3-button">APP REVIEWS &#x25BC;</button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% link favorites.md %}" class="w3-bar-item w3-button">My Favorite Apps</a>
        <a href="{% link p2papps.md %}" class="w3-bar-item w3-button">Peer-to-Peer Apps</a>
        <a href="{% link centralizedapps.md %}" class="w3-bar-item w3-button">Centralized Apps</a>
        <a href="{% link decentralizedapps.md %}" class="w3-bar-item w3-button">Decentralized Apps</a>
        <a href="{% link protocols.md %}" class="w3-bar-item w3-button">Messaging Protocols</a>
        <a href="{% link rejectedapps.md %}" class="w3-bar-item w3-button">Rejected Apps</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-padding-large w3-button">CHARTS AND LISTS &#x25BC;</button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="applist.html" class="w3-bar-item w3-button">App Index</a>
        <a href="effguide.html" class="w3-bar-item w3-button">EFF Guide</a>
        <a href="featuresmatrix.html" class="w3-bar-item w3-button">App Features Matrix</a>
        <a href="notrackers.html" class="w3-bar-item w3-button">No Trackers! Hall of Fame</a>
      </div>
    </div>
  </div>
