---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

body {
    color:#222831;
    font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    line-height:1.5;
}

a.w3-round-large {
    margin:2px;
}

table tr td.fiveeyes {
   background-color: rgba(255, 0, 0, .8);
}
table tr td.nineeyes {
	background-color: orange;
	color: black;
}
table tr td.fourteeneyes {
	background-color: rgba(255, 255, 0, .8);
	color: black;
}
table tr td.yellow {
	background-color: rgba(255, 255, 0, .8);
	color: black;
}
table tr td.red {
   background-color: rgba(255, 0, 0, .8);
}
table tr td.green {
   background-color: rgba(0, 255, 0, .7);
}
span.green {
  background-color: rgba(0, 255, 0, .7);
  padding-left: 3px;
  padding-right: 3px;
}
span.red {
  background-color: rgba(255, 0, 0, .8);
  padding-left: 3px;
  padding-right: 3px;
}
span.yellow {
  background-color: rgba(255, 255, 0, .8);
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}
.hover-shadow:hover{border:1px solid black;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

