---
---

@import "{{ site.theme }}";
table {
  width:98%;
  border-collapse:collapse;
}
.wrapper {
  width:95%;
  max-width:95%;
  margin:0 auto;
}
section {
  width:100%;
  max-width:100%;
  float:center;
  padding-bottom:0px;
  padding-top:0px;
}
.inner {
  max-width:95%;
}
li.active a {
    color: lightgray;
    cursor: default;
}
table tr td.fiveeyes {
   background-color: red;
}
table tr td.nineeyes {
	background-color: orange;
	color: black;
}
table tr td.fourteeneyes {
	background-color: yellow;
	color: black;
}
table tr td.yellow {
	background-color: yellow;
	color: black;
}
span.green {
  background-color: green;
  padding-left: 3px;
  padding-right: 3px;
}
span.red {
  background-color: red;
  padding-left: 3px;
  padding-right: 3px;
}
span.yellow {
  background-color: yellow;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}
