
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include stylesheets.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>
        {% include header.html %}
        
<table>
  <tr><td colspan="4" style="text-align:center"><H2>{{ page.title }}</H2></td></tr>
  <tr><td><b>Application</b></td>
  <td><b>Platforms</b></td>
  <td><b>Communication types</b></td></tr>
{% assign applications = site.data.applications | where_exp: "item","item.category == page.which_category" | sort: 'name' | sort: 'recommendation' %}
{% for application in applications %}
<tr>
  <td>
    {% if application.recommendation == 1 %}<img src="images/checkmark.gif"><img src="images/checkmark.gif">
    {% elsif application.recommendation == 2 %}<img src="images/checkmark.gif">
    {% else %}<img src="images/x.gif">{% endif %}
    <a name="{{ application.name }}" href="{{ application.url }}">{{ application.display_name }}</a>
  </td>
  <td>{{ application.platforms }}</td>
  <td>{{ application.communication_types }}</td>
</tr>
<tr><td colspan="4">
  Version tested: {{ application.version_tested }}<br>
  Country of origin: {{ application.country_origin }}<br>
  Requires a phone number: {{ application.requires_phone_number }}<br>
  Requires an email address: {{ application.requires_email }}<br>
  Your ID contains personal information: {{ application.id_contains_contact_info }}<br>
  Android app requires Google Play Services: {{ application.android_requires_google_play }}<br>
  Data is locally encrypted: {{ application.is_locally_encrypted }}<br>
  Perfect forward secrecy: {{ application.perfect_forward_secrecy }}<br>
  Websites: {{ application.websites }}<br>
  Last tested: {{ application.last_update }}<br>
  <b>Notes:</b><br>
  <br>
  {% include_relative _data/{{ application.notes_file }} %}
</td></tr>
{% endfor %}

</table>
        {% include footer.html %}
      </section>
    </div>
  </body>
</html>
