---
layout: 
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/simple.css">

  
    
    <script src="/TableFilter/tablefilter.js"></script>
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>

  <body>
  

  

<div style="padding:10px;">

        {{ content }}

</div>





  </body>
</html>
