---
layout: 
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

<!-- begin _includes/seo.html --><title>App Features Matrix - SecureChatGuide.org</title>
<meta name="description" content="Warning: This site is under heavy construction.  Please visit tycho.im for the last stable version of the website.">

<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="SecureChatGuide.org">
<meta property="og:title" content="App Features Matrix">

<link rel="stylesheet" href="/assets/css/simple.css">
  <script src="/TableFilter/tablefilter.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        
        <a class="site-title" href="/">SecureChatGuide.org</a>
        <ul class="visible-links"><li class="masthead__menu-item">
              <a href="/about.html" >About</a>
            </li></ul>
      </nav>
    </div>
  </div>
</div>

{% include page__hero.html %}


<div style="padding:10px;">
        {{ content }}
</div>

<br>
<footer>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;padding:0px 5px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</footer>
</body>
</html>
