<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include stylesheets.html %}
  </head>
  <body>

    <div class="wrapper">

      <section>
        <a href="{{ site.github.repository_url }}">View On GitHub</a>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
