---
layout:
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="me" href="https://keybase.io/super_nova">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/w3.css">
	{% if page.name == "featuresmatrix.md" %}
    <script src="/TableFilter/tablefilter.js"></script>
    <script src="/TableFilter/jquery.min.js"></script>
    <script src="/TableFilter/bootstrap.min.js"></script>
  {% endif %}
</head>
<body>


<!-- Header -->
<header class="w3-cell-row w3-dark-grey" style="padding:0px 0px; background-image: url('images/header3.jpg'); background-attachment: fixed; background-position: top right; background-size: contain; background-repeat: repeat;">
  <div class="w3-container w3-cell w3-mobile w3-left-align" style="padding:0px 0px; width: 450px">
    <!-- Navbar -->
    {% include top_menu.html %}
    <h1 style="padding:16px 36px;">{{ page.title }}</h1>
    <p style="padding:10px 16px;">Step-by-step guides and detailed information on secure messaging apps for Android, iOS, Windows, Mac and Linux.</p>
  </div>
  <div class="w3-container w3-cell w3-mobile" >
  </div>
</header>


<!-- Content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px;margin-left:5px;margin-right:5px">
  {{ content }}
</div>

<!-- Footer -->
<br>
<footer class="w3-container w3-cyan w3-center">
  {% include footer.html %}
</footer>
</body>
</html>
