---
layout:
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="me" href="https://keybase.io/super_nova">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/w3.css">
	{% if page.name == "featuresmatrix.md" %}
    <script src="/TableFilter/tablefilter.js"></script>
    <script src="/TableFilter/jquery.min.js"></script>
    <script src="/TableFilter/bootstrap.min.js"></script>
  {% endif %}
</head>
<body>

<!-- Navbar -->
{% include top_menu.html %}

<!-- Header -->
<header class="w3-container w3-dark-grey w3-center" style="padding:16px 16px">
<div class="w3-left-align">
  <h1>{{ page.title }}</h1>
  <p>Step-by-step guides and detailed information on secure messaging apps for Android, iOS, Windows, Mac and Linux.</p>
</div>
</header>

<!-- Content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px;margin-left:5px;margin-right:5px">
  {{ content }}
</div>

<!-- Footer -->
<br>
<footer class="w3-container w3-cyan w3-center">
  {% include footer.html %}
</footer>
</body>
</html>
